.profile-container {
  font-family: 'DM Sans', sans-serif;

  // Typography
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }

  p, li, label, input, select, button {
    font-family: 'DM Sans', sans-serif;
  }

  // Profile Header
    .profile-header {
      color: white;
      padding: 4rem 0;
      background-color: #3741FA;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 2rem;
      text-align: center;
      transition: background-image 0.3s ease-in-out;

      &.with-image {
        background-blend-mode: overlay;
      }

    .profile-avatar {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 4px solid #9CDDAB;
    }

    .profile-avatar-fallback {
      width: 120px;
      height: 120px;
      font-size: 2.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      color: #3741FA;
      border: 4px solid #9CDDAB;
    }
  }


// Item Form
  // For both forms
  .form-control-lg, .form-select-lg {
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 10px !important;
    border: 1px solid #ced4da;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:focus {
      border-color: #3741FA;
      box-shadow: 0 0 0 0.25rem rgba(55, 65, 250, 0.2);
    }
  }
}
