
<div class="d-flex align-items-center flex-grow-1">
  <label class="form-check-label">
    <span class="checklist-text">
      <%= item.name.humanize || "Unnamed Item" %> (<%= item.category.humanize %>)
    </span>
  </label>
</div>


<!-- Action buttons -->
<div class="d-flex align-items-center action-buttons">
  <!-- Edit button to toggle inline edit form -->
  <button type="button"
          class="btn btn-sm btn-outline-primary ms-2"
          style="font-family: 'DM Sans', sans-serif; border-radius: 10px;"
          data-action="click->inline-edit#showForm"
          data-inline-edit-target="editButton"
          aria-label="Edit item">
    <i class="fas fa-pen"></i>
  </button>

  <!-- Delete button -->
  <%= button_to item_path(item), method: :delete, class: "btn btn-sm btn-outline-danger ms-2", style: "border-radius: 10px", data: { target: "inline-edit.deleteButton", confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
