:root {
  --black: #3d3d3d;
  --blue: #3741fa;
  --green: #9cddab;
  --pink: #fb7d93;
  --yellow: #FFEC59;
  --white: #f7f2eb;
}

.btn-primary-cta {
  background-color: #9cddab;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;


  &:hover {
    background-color: darken(#9cddab, 10%);
  }
}

.btn-secondary-cta {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background 0.3s ease;

  &:hover {
    background-color: darken(#3515b6, 10%);
    color: white;
  }
}

.btn-outline-red {
  border-color: red;
  color: red;

  &:hover {
  border-color: white;
  background-color: red;
  color: white;
  }
}

.btn-outline-primary {
  border-color: #3741fa;
  color: #3741fa;

  &:hover {
    background-color: #3741fa;
    color: white;
  }
}

.btn-outline-secondary {
  border-color: #9cddab;
  color: #9cddab;

  &:hover {
    background-color: #9cddab;
    color: white;
  }
}

.btn-outline-tertiary {
  border-color: #fb7d93;
  color: #fb7d93;

  &:hover {
    background-color: #fb7d93;
    color: white;
  }
}

.btn-light {
  background-color: white;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
  }
}

.btn-outline-danger {
  border-color: red;
  color: red;

  &:hover {
    background-color: red;
    color: white;
  }
}
